body {
    background: black;
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    
}

h1, h2 {
    color: white;
}

#logo {
    height: 200px;
    width: 200px;
}

@media screen and (max-width: 480px) {
    #logo {
        width: 100%;
        height: auto;
    }
}